# **Veri Analizi **
Eda Nur Demiray

In [ ]:
import pandas as pd       #Kütüphanelerimizi import ediyoruz

import numpy as np
import sys
import matplotlib as plt
import ipywidgets

dataset=pd.read_csv('/content/employee-earnings-report-2014.csv')

In [ ]:
print(dataset)

**1.** Veri seti'ni pandas dataFrame ile okuyunuz.

In [ ]:
df_edademiray=pd.DataFrame(dataset)




**2**.DataFrame verileri ile ilgili özet bilgileri ekranda gösteriniz.
Burada görüdüğümüz object değişkeni pandasta "string" tipini temsil ediyor.
Ayrıca satırda 1 adet bile int olmayan veri oladuğunda satır tipini object olarak görürüz .

In [ ]:
df_edademiray.info()

**3**. pandas kütüphanesi versiyonu bulunuz.

In [ ]:
print("pandas version: {}".format(pd.__version__))



**5.** Python Yazılımın Versiyonunu bulunuz.

In [ ]:
pd.show_versions()

In [ ]:

print("Python version: {}".format(sys.version))

**6.** Veri setindeki ilk 5 veriyi listeleyiniz.

In [ ]:
print(df_edademiray.head())

**7.**	Veri setindeki son 5 veriyi listeleyiniz.

In [ ]:
print(df_edademiray.tail())

 **8.** Veri setindeki bütün verileri listeleyiniz.

In [ ]:
print(df_edademiray)

In [ ]:
print(df_edademiray.describe())

In [ ]:
print (df_edademiray['NAME'].value_counts())

**12.**	Veri setindeki toplam veri sayısını bulunuz.

In [ ]:
print (df_edademiray.size)

**13.**Veri setindeki toplam sütun sayısını bulunuz.

In [ ]:
print (len(df_edademiray.columns))

**14.**Veri setindeki sütun isimlerini bulunuz.

In [ ]:
print (list(df_edademiray.columns))

**15.** Veri setindeki eksik verileri bulunuz.

In [ ]:
 df_edademiray.isnull()

**17.**Bütün sütunlardaki toplam eksik veri sayısını bulunuz.

In [ ]:
 df_edademiray.isnull().sum()

 **16.**	Her bir sütundaki eksik veri sayısını bulunuz.

In [ ]:
for i in range(len(df_edademiray.index)) :
  print("Dataframe Satırlarındaki NaN sayısı ", i , " : " , 
df_edademiray.iloc[i].isnull().sum())

In [ ]:
dfedademiray= df_edademiray.copy() #burada datasetimizi işlemlerden önce kopyalıyoruz ki yapıcağımız değişikliklerden yada hatalardan geri dönüşümüz daha rahat olsun.

 **18.**	Eksik verilerin yerine "0 - sıfır" yazınız.

In [ ]:
dfedademiray.fillna(0)

**19.**	Eksik verileri dataFrame'den çıkarınız.

In [ ]:
dfedademiray.dropna(how="any")

**20.**	Tekrarlı verilerin sayısını bulunuz.

In [ ]:
dfedademiray.nunique()

**23.**	DataFrame'deki herhangi bir sütunu ekrana alınız ve veri tipini sorgulayınız.
                                    #24.	Sütunun Class'ını sorgulayınız.

In [ ]:
print(df_edademiray['NAME'].dtypes)

 **32.**DataFrame’den bir sütunu geçici olarak siliniz.

In [ ]:
dfedademiray.drop(10472)

 **29.**	DataFrame’de filtreleme işlemi yapınız.

In [ ]:
dfedademiray.filter(regex='e$', axis=1)
dfedademiray.index
print (dfedademiray['NAME'])

**30.**	DataFrame’de indeksi sıfırlayınız.

In [ ]:
dfedademiray.reset_index()

**47**.dataFrame'deki bir sütunu küçükten büyüğe sıralayınız.

In [ ]:
dfedademiray.sort_values("ZIP")

**48.**	dataFrame'deki bir sütunu büyükten küçüğe sıralayınız

In [ ]:
dfedademiray.sort_values("ZIP",ascending=False) .

**49.**	dataFrame'deki iki sütunu küçükten büyüğe sıralayınız.

In [ ]:
dfedademiray.sort_values(["ZIP","QUINN"])

**50.**	dataFrame'deki iki sütunu büyükten küçüğe sıralayınız.

In [ ]:
dfedademiray.sort_values(["ZIP","QUINN"],ascending=[False,False])

**34.**	DataFrame hakkında genel bilgiyi ekranda listeleyiniz.

In [ ]:
dfedademiray.info()

In [ ]:
pandas_series = pd.Series(data=dfedademiray.all())
print(pandas_series)

**38.**	Veri setindeki min, max, mean, count değerlerini bulunuz.

In [ ]:
print(pandas_series.max()) 
print(pandas_series.min())
print(pandas_series.count())
print(pandas_series.mean())

**35.**	System Kütüphanesi versiyonunu bulunuz.

In [ ]:
sys.version

 **36.** 	Pandas Kütüphanesi versiyonunu bulunuz.

In [ ]:
pd.__version__

In [ ]:
dfedademiray.keys() #Keyleri öğreniyoruz.

**25.**	DataFrame’de "loc  " deyimi kullanarak indeks etiketi ile sorgu yapınız.

In [ ]:
print (dfedademiray.loc['Human'])

**26.**	DataFrame’de "iloc " deyimi kullanarak indeks numarası ile sorgu yapınız.

In [ ]:
print (dfedademiray.iloc[0])

**37.**	Matplotlib kütüphanesi versiyonunu bulunuz.

In [ ]:
plt. __version__

**51.**	dataFrame'deki 5 veriyi tesadüfi olarak listeleyiniz.

In [ ]:
dfedademiray.sample(5)

**43.**dataFrame'i excel dosyası olarak kaydediniz.

In [ ]:
dfedademiray.to_excel("2014.xlsx", sheet_name="24",index=False) 
pd.read_excel("2014.xlsx")

In [ ]:
dfedademiray['RETRO'] = dfedademiray['RETRO'].str.replace('$', '')      #Sütunları nümerik yapabilmek için ilk önce $ işaretini boşluk ile değiştirip
                                                                                          # daha sonra asytpe ilet float yaptım.
dfedademiray['INJURED'] = dfedademiray['INJURED'].str.replace('$', '')
dfedademiray['DETAIL'] = dfedademiray['DETAIL'].str.replace('$', '')
dfedademiray['RETRO'] = dfedademiray['RETRO'].str.replace('$', '')
dfedademiray['OTHER'] = dfedademiray['OTHER'].str.replace('$', '')
dfedademiray['REGULAR'] = dfedademiray['REGULAR'].str.replace('$', '')
dfedademiray['TOTAL EARNINGS'] = dfedademiray['TOTAL EARNINGS'].str.replace('$', '')
dfedademiray['QUINN'] = dfedademiray['QUINN'].str.replace('$', '')
dfedademiray['OVERTIME'] = dfedademiray['OVERTIME'].str.replace('$', '')

In [ ]:

print(dfedademiray['REGULAR'].dtypes)

In [ ]:
dfedademiray["REGULAR"] = dfedademiray.REGULAR.astype(float)
dfedademiray["EARNINGS"] = dfedademiray.REGULAR.astype(float)
dfedademiray["OTHER"] = dfedademiray.OTHER.astype(float)
dfedademiray["INJURED"] = dfedademiray.INJURED.astype(float)
dfedademiray["RETRO"] = dfedademiray.RETRO.astype(float)

In [ ]:
dfedademiray['REGULAR'].plot()

In [ ]:
dfedademiray= dfedademiray.rename(columns = {'TOTAL EARNINGS': 'EARNINGS'}, inplace = False)

 **33.**	DataFrame’den bir sütunu kalıcı olarak siliniz.

In [ ]:
del dfedademiray['TITLE'] 
del dfedademiray['NAME']
del dfedademiray['DEPARTMENT NAME']

In [ ]:
print(dfedademiray['EARNINGS'].dtypes)

**53.**	Histogram

In [ ]:
plt.hist(dfedademiray['EARNINGS'])

**54.**	Bar chart

In [ ]:
x=dfedademiray['EARNINGS']  
y=dfedademiray['REGULAR']
plt.bar(x, y, color = "red")

**55.**	Pie chart

In [ ]:
dfedademiray['EARNINGS'].value_counts().head(10).plot.pie()

**52.**	Veri seti ile ilgili olarak, Scatter plot

In [ ]:
x=dfedademiray['EARNINGS'] 
y=dfedademiray['REGULAR']
plt.scatter(x, y)

In [ ]:
import seaborn as sns

 **59.**	Keras kütüphanesini yükleyiniz.

In [ ]:
import tensorflow as tf 
from tensorflow import keras

**60.**	Keras kütüphanesinin versiyonunu bulunuz.

In [ ]:
keras.__version__

**57.**	Seaborn Kütüphanesi kullanarak "Stripplot grafiğini" çiziniz

In [ ]:
sns.stripplot(x="OTHER", y="REGULAR", data=dfedademiray, jitter=0.005)

 **58.**"Swarmplot" grafiğini çiziniz.

In [ ]:
sns.swarmplot(x='REGULAR',data=dfedademiray)

 **31.**	dataFrame’e yeni bir sütun ilave ediniz.

In [ ]:
dfedademiray["Gelir (TL)"] = dfedademiray["INJURED"] * 5

In [ ]:
dfedademiray

**39.**	"pd.pivot.table()" metodunu kullanarak, dataFrame'deki bir sütundan tek indeksli "pivot table" oluşturunuz.

In [ ]:
table = pd.pivot_table(dfedademiray, values=['OTHER'], index=['EARNINGS']) 
table

 **40.**	"pd.pivot.table()" metodunu kullanarak, dataFrame'deki birden fazla sütundan çok indeksli "pivot table" oluşturunuz.

In [ ]:
table2 = pd.pivot_table(dfedademiray, values=['OTHER','INJURED'], index=['EARNINGS','ZIP'])
table2

**41.**	Pivot_table'da "aggfunc=np.sum" fonksiyonunu kullanınız.

In [ ]:
table4 = pd.pivot_table(dfedademiray, values=['OTHER'], index=['EARNINGS'],aggfunc=np.sum) 
table4

**42.**	dataFrame'i CSV dosyası olarak kaydediniz. df.to_csv('file_name.csv')

In [ ]:
dfedademiray.to_csv()

**44.**	dataFrame'i html dosyası olarak kaydediniz.

In [ ]:
dfedademiray.to_html()

 **45.**	dataFrame'i JSON dosyası olarak kaydediniz.

In [ ]:
 dfedademiray.to_json(orient="split")

 **46.**	dataFrame'i txt dosya olarak kaydediniz.

In [ ]:
txtt= dfedademiray.to_csv("test.txt")

 **62.**İki sayıyı toplamak için ve çarpmak için .PY uzantılı bir SCRIPT veya MODÜL oluşturunuz.

In [ ]:
def toplam(a, b):                         
    return (a + b)

a = int(input('1.sayıyı Giriniz '))
b = int(input('2.Sayıyı Giriniz '))

print(toplam(a, b))

def carpım(a, b):
    return (a + b)

a = int(input('1.sayıyı Giriniz '))
b = int(input('2.Sayıyı Giriniz '))

print(carpım(a, b))

In [ ]:
pip install sweetviz

**63.**	Python Sweetviz Kütüphanesini Keşifsel Veri Analizi yapmak için kullanınız

In [ ]:
import sweetviz as sv                       
analyze_report = sv.analyze(dfedademiray)
analyze_report.show_html('analyze.html', open_browser=False)

import IPython
IPython.display.HTML('analyze.html')

**64.**	Python Dora Kütüphanesini Keşifsel Veri Analizi yapmak için kullanınız.

In [ ]:
pip install Dora

In [ ]:
from Dora import Dora
dora = Dora()

In [ ]:
dora.configure(output = 'OTHER', data = dfedademiray)
dora.data

In [ ]:
dora.plot_feature('EARNINGS')

In [ ]:
dora.explore()

In [ ]:
dfedademiray.sample(5)

In [ ]:
dfedademiray[['DETAIL','OTHER']]

**65.**Python Bokeh Kütüphanesini İnteraktif Görselleştirme yapmak için kullanınız.

In [ ]:
pip install bokeh

In [ ]:
from bokeh.io import output_file, output_notebook
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource
from bokeh.layouts import row, column, gridplot
from bokeh.models.widgets import Tabs, Panel

In [ ]:
src = ColumnDataSource(dfedademiray)
src.data.keys()

In [ ]:
x=dfedademiray['EARNINGS']
y=dfedademiray['INJURED']

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
p=figure(title='Basit Bir Boheh Tablosu',x_axis_label='x',y_axis_label='y')
p.line(x, y, legend_label="Temp.", line_width=2)
show(p)

In [ ]:
kazanc=((np.asarray(dfedademiray['EARNINGS'])))
harcama=((np.asarray(dfedademiray['REGULAR'])))

In [ ]:
labels=np.asarray(["{0} \n {1:.2f}".format(symb,value)
                     for symb,value in zip(kazanc.flatten(),harcama.flatten())])

**56.** Heat Map grafiklerini çiziniz.

In [ ]:
fig, ax =plt.subplots(figsize=(12,7))  
title="Heat Map"
plt.title(title,fontsize=18)
ttl=ax.title
ttl.set_position([0.5,1.05])
ax.set_xticks([])
ax.set_yticks([])
ax.axis('off')
sns.heatmap(table,annot = True,fmt="",cmap='RdYlGn',linewidths=50,ax=ax)
plt.show()

In [ ]:
dfedademiray

**21.**	pandas_profiling kütüphanesini kullanarak dataFrame'deki veriler hakkında "html" rapor hazırlayınız.

In [ ]:
from pandas_profiling import ProfileReport 
import pandas_profiling as pp
profile = pp.ProfileReport(dfedademiray) 
profile.to_file("Analysis.html")

**27.**	Satır ve sütunu birlikte seçerek "loc" deyimi ile sorgu yazınız.

In [ ]:
dfedademiray.loc[[0],'ZIP']

 **28.**	loc () deyimini kullanarak dataFrame’de "Slicing" işlemi yapınız.

In [ ]:
dfedademiray.loc[0:4:2]

In [ ]:
print(dfedademiray.index)

**61.**	CSV dataset'den sadece iki sütunu dataframe'e import ediniz.

In [ ]:
kısa = pd.read_csv('/content/employee-earnings-report-2014.csv', usecols=['ZIP', 'QUINN'])
dfedademirayKısa=pd.DataFrame(kısa)

**22.**CSV dosyası olarak link’ten alınan dataFrame’i herhangi bir dizine dataFrame olarak kopyalayınız. Linkteki CSV dosyası ile kaydedilen CSV dosyasının aynı olup olmadığını kontrol ediniz.

In [ ]:
dataset=pd.read_csv('/content/2014report.csv')  
df_edademirayD1=pd.DataFrame(dataset)
dataset2=pd.read_csv('/content/employee-earnings-report-2015.csv')
df_edademirayD2=pd.DataFrame(dataset2)  

df_edademirayD1.eq(df_edademirayD2)